{% extends "base.html" %}
{% load static %}

{% block page_content %}
    <div class="row">
        <div class="col-md-6 auto">
            <form action="{% url 'input' %}" method="get">

                <input type="text" name="expression" class="form-control" placeholder="...Введите выражение" id="input"  dir="rtl">
<!--                <button type="submit"></button>-->
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'calc/input.js' %}"></script>
{% endblock %}